@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
.divcentrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  height: 560px;
  width: 430px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 0px 14px 24px 8px rgba(14, 14, 19, 0.33);
}
body {
  background: #e9e8e3;
  background-image: url(/img/1643549932233.png);
}



.formulario{
display: flex;
}





.divtodo {
  background: transparent;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -7px;
}
.ini {
  color: rgb(0, 0, 0);
  transform: translateX(50px);
}

form {
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 20px;
  font-family: sans-serif;
}
.input1 {
  margin: 10px;
  width: 280px;
  height: 40px;
  background-color: #ffffff;
  border:   1px solid black;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  padding-left: 20px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.input1::placeholder {
  color: rgb(0, 0, 0);
}

#input2 {
  position: relative;
  margin: 10px;
  width: 280px;
  height: 40px;
  background-color: #ffffff;
  border:   1px solid black;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  padding-left: 20px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
#input2::placeholder {
  color: rgb(0, 0, 0);
}



.ini {
  margin-left: -110px;
  font-size: 34px;
  margin-top: 60px;
}

@media (max-width: 600px) {
  .divcentrado {
    width: 400px;
  }
  .input1 {
    width: 240px;
  }
  #input2 {
    width: 240px;
  }
  .botonsesion {
    width: 240px;
  }
  .ini {
    margin-left: 0px;
  }
}

@media (max-width: 440px) {
  .divcentrado {
    width: 300px;
  }
  .input1 {
    width: 220px;
  }
  #input2 {
    width: 220px;
  }
  .botonsesion {
    width: 220px;
  }
  .ini {
    margin-left: 0px;
  }
}

.abajodelboton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 310px;
  margin-left: 70px;
  margin-top: -19px;
  font-size: 15px;
}

.inputche {
  transform: scale(1.2);
  font-size: 40px;
}
.href {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 13px;
}
.recuerdame {
  color: #b3b3b3;
  padding: 0;
  font-size: 13px;
}
.partefaceabajo {
  height: 231;
  width: 314;
}

.partef {
  color: white;
  font-size: 13px;
  margin-left: -140px;
  margin: 20px;
  height: 7px;
  cursor: pointer;
}
.cajanet {
  color: white;
  font-size: 13px;
  height: 2px;
}
.sus {
  color: #fff;
  height: 2px;
  font-size: 15px;
}
.span {
  color: #fff;
  width: 300px;
  height: 200px;
  font-size: 13px;
  margin: 27px;
  height: 20px;
  margin-left: 75px;
}
#face {
  font-size: 18px;
  height: 2px;
  color: #0080ff;
}

.input1:focus {
  background: rgb(216, 216, 216);
}

#input2:focus {
    background: rgb(216, 216, 216);
}

.botonsesion:hover {
  box-shadow: 0 0 10px rgba(211, 210, 210, 0.8);
}
#iconeye {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgb(151, 151, 151);
  right: 490px;
  top: 50%;
  transform: translateY(-92%);
  cursor: pointer;
  z-index: 999;
}

.contenedorfot {
  text-align: left;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.75);
  width: 100%;
  height: 300px;
  bottom: -480px;
}
.lidefot {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30%;
  color: #757575;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.li1 {
  text-align: left;
  margin: 0px;
  margin-top: 40px;
  margin-left: 100px;
}
h3 {
  cursor: pointer;
  font-size: 17px;
  color: #757575;
  margin-left: 100px;
  margin-top: 30px;
  font-family: sans-serif;
}

select {
  display: block;
  margin-left: 100px;
  background-color: black;
  color: #fff;
  border: none;
  height: 48px;
  width: 125px;
  outline: 1px solid white;
}
.ua {
  text-decoration: none;
  color: #757575;
}
.ua:hover {
  color: white;
  text-decoration: underline;
}
h3:hover {
  text-decoration: underline;
}

.msj-ok {
  color: rgb(83, 231, 83);
}
.msj-error {
  color: rgb(255, 118, 118);
}

#msj-contra {
  font-size: 18px;
}

.volver i {
  position: fixed;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  font-size: 40px;
  background-color: white;
  width: 100px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.volver i:hover {
  color: #fff;
  background-color: black;
}
a {
  text-decoration: none;
}












.modal{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

/*ESTILOS PARA JAVA*/

.active{
  opacity: 1;
  visibility: visible;
}
.opacity{
  opacity: 0;
  visibility: hidden;
}
/*ESTILOS JAVA LO DE ARRIBA*/

.modal{
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0,0.5);
  transition: all 500ms ease;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor{
  width: 400px;
  height: 300px;
  margin: auto;
  background: white;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
}
.contenedor header{
  padding: 10px;
  background: #e0d8ac;
  color: rgb(0, 0, 0);

}

.contenedor label{
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
 font-size: 30px;
}

.contenidoo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  align-items: center;
  align-content: center;
}

.botones{
  
}

.labels{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 19px;
  text-align: left;
  margin:10;
}
button {
  padding: 1.3em 3em;
  font-size: 16px;
  margin: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #cec8b6;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  line-height: 10px;

}

button:hover {
  background-color: #cec8b6;
  box-shadow: 0px 15px 20px 20px rgba(0, 0, 0);
  color: #fff;
  transform: translateY(-4px);
}

button:active {
  transform: translateY(-1px);
}

.divdeboton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

